<script>
</script>

<style>
</style>

<svelte:head>
	<title>rclb.dev</title>
</svelte:head>

<div class="flex flex-col bg-gray-500 h-screen justify-center">
	<div class="container mx-auto pt-5 px-5 md:px-20 lg:px-48 pb-5" id="sobre">
		<div class="flex flex-wrap space-y-5 md:space-y-0 md:space-x-5 md:items-start" id="about">
			<img src="photo.jpg" alt="Photo" class="h-96 object-cover flex-auto w-full md:w-2/5"/>
			<div class="flex-auto w-full pt-5 md:w-2/5 flex flex-col justify-between text-gray-900">
				<div class="">
					<h1 class="text-4xl text-center">
						rclb.dev
					</h1>

					<div class="text-base text-center font-light">
						Software development and DevOps services
					</div>
				</div>

				<div class="flex flex-col items-center pt-20 text-base text-center">
					<ul class="flex flex-row space-x-2">
						<li class="">
							<a href="https://www.linkedin.com/in/rbelem/" class="">
								<img class="w-6 h-6" src="linkedin.svg" alt="">
							</a>
						</li>
						<li class="">
							<a href="https://github.com/rbelem/" class="">
								<img class="w-6 h-6" src="github.svg" alt="">
							</a>
						</li>
						<li class="">
							<a href="https://twitter.com/rbelem" class="">
								<img class="w-6 h-6" src="twitter.svg" alt="">
							</a>
						</li>
					</ul>
					<div class="pt-2 font-light">
						<p class="">
							<a href="mailto:me@rclb.dev" class="">
								me@rclb.dev
							</a>
						</p>
						<p class="">
							<a href="tel:+5592991528899" class="">
								+55 92 99152-8899
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
